<nav class="bg-gray-800 p-4 text-white">
    <a href="/" class="<%= typeof active !== 'undefined' && active === 'home' ? 'active' : '' %> text-3xl font-bold mr-6">Lego Collection</a>
    <div class="flex flex-col items-start">
      <a href="/lego/sets" class="<%= typeof active !== 'undefined' && active === 'collection' ? 'active' : '' %> text-lg font-semibold hover:text-gray-300 mb-3">View Collection</a>
      <a href="/about" class="<%= typeof active !== 'undefined' && active === 'about' ? 'active' : '' %> text-lg font-semibold hover:text-gray-300">About</a>
      <a href="/lego/addSet" class="<%= typeof active !== 'undefined' && active === 'addSet' ? 'active' : '' %> text-lg font-semibold hover:text-gray-300">Add to Collection</a>
    </div>
  </nav>