<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/main.css" rel="stylesheet">
  <title>About Me</title>
</head>
<body>
  
    <div class="container mx-auto">
        <div class="hero bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About</h1>
                    <p class="py-6">All about me</p>
                </div>
            </div>
        </div>

        <!-- This is the grid container -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <img src="images/MPhoto.png" alt="My Photo">
            </div>
            <div>
                <p>
                    Hello! My name is Muhammad Azhar, and I'm from the vibrant and culturally rich country of Pakistan. My journey in the world of technology and design has been fueled by a passion for learning and a curiosity to explore new possibilities. When I'm not coding or designing, you might find me indulging in my love for photography, capturing the beauty of my surroundings through the lens of my camera. I'm currently exploring various fields of computer science, diving deep into web development, and always on the lookout for new skills to master. This website is a canvas for my ideas, a place where I blend my technical skills with my creative vision. Welcome to a glimpse of my world!

                </p>
            </div>
        </div>

    </div>

</body>
</html>